body{
    margin: 0;
    background: linear-gradient(to right, #4603e0, #9660ec);
    text-align: center;
}

.hovertext a{
    color:white;
    text-shadow: 0px 0px #00000077;
    transition: color 1s, text-shadow 1s;
}