body{
    margin: 0;
    background: linear-gradient(to right, #4603e0, #9660ec);
    text-align: center;
}

.coolBox {
    background: #1a1a1aCC;
    margin: 40px 4vw;
    padding: 25px;
    font-size: 120%;
    border-radius: 10px;
}